%table
  %tr
    %th Scientific Name
  - @species.each do |species|
    %tr
      %td= link_to species.name, species_path(species.id)
        
= will_paginate @species, :params => {:controller => :species, :action => :index}