/* Buttons */
a {
color:#003372;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
a:hover {
color:green;
cursor:pointer;
}
img, a img {
border:medium none;
}
* html img {
}
.icon {
height:16px;
width:16px;
}
.buttons a, .buttons button, a.button, button.button {
-moz-border-radius:12px;
-webkit-border-radius: 12px;
background-color:#F5F5F5;
border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
border-style:solid;
border-width:1px;
color:#333333 !important;
cursor:pointer;
display:block;
float:left;
font-size:100%;
font-weight:bold;
margin:0 0.7em 0 0;
padding:5px 10px 6px;
text-decoration:none;
}
a.button, button.button {
display:inline-block;
float:none;
}
.buttons button, button.button {
font-weight:bold;
overflow:visible;
padding:4px 10px 3px 7px;
width:auto;
}
.buttons button[type], button.button[type] {
line-height:17px;
padding:5px 10px 5px 7px;
width:auto;
}
:first-child + html .buttons button[type], :first-child + html button.button[type] {
margin-bottom:1px;
padding:4px 10px 3px 7px;
}
* html button.button {
margin-bottom:1px;
}
.buttons button img, .buttons a img, a.button img, button.button img {
margin:0 3px -3px 0 !important;
}
.buttons button:hover, .buttons a:hover, a.button:hover, button.button:hover {
background-color:#DFF4FF;
border:1px solid #A7CEDF;
color:#336699;
}
.buttons a:active, a.button:active {
background-color:#6299C5;
border:1px solid #6299C5;
color:#FFFFFF !important;
}
button.positive, a.positive {
color:#529214 !important;
}
a.positive:hover, button.positive:hover {
background-color:#E9EFD1;
border:1px solid #AACF81;
color:#529214 !important;
}
a.positive:active {
background-color:#529214;
border:1px solid #529214;
color:#FFFFFF !important;
}
a.negative, button.negative {
color:#D12F19 !important;
}
a.negative:hover, button.negative:hover {
background:#FBE3E4 none repeat scroll 0 0;
border:1px solid #EF959B;
color:#D12F19 !important;
}
a.negative:active {
background-color:#D12F19;
border:1px solid #D12F19;
color:#FFFFFF !important;
}
.buttons a em, .buttons button em, a.button em {
font-style:normal;
font-weight:normal;
}
.info .buttons {
float:right;
margin:5px 0 0;
padding:0;
}
.info .buttons a, .info .buttons button {
margin:0 0 0 0.7em;
}
