/* line 6, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 6, ../../app/stylesheets/partials/_flash.sass */
.failure, .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }
  /* line 11, ../../app/stylesheets/partials/_flash.sass */
  .failure a, .error a {
    color: #8a1f11; }

/* line 13, ../../app/stylesheets/partials/_flash.sass */
.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }
  /* line 18, ../../app/stylesheets/partials/_flash.sass */
  .notice a {
    color: #514721; }

/* line 20, ../../app/stylesheets/partials/_flash.sass */
.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }
  /* line 25, ../../app/stylesheets/partials/_flash.sass */
  .success a {
    color: #264409; }

/* line 1, ../../app/stylesheets/partials/_button.sass */
a {
  color: blue;
  outline: none; }
  /* line 5, ../../app/stylesheets/partials/_button.sass */
  a:hover {
    cursor: pointer;
    color: green; }

/* line 10, ../../app/stylesheets/partials/_button.sass */
img, a img {
  border: none;
  -ms-interpolation-mode: bicubic; }

/* line 15, ../../app/stylesheets/partials/_button.sass */
* html #bottom {
  _behavior: url(/images/iepngfix.htc); }

/* line 19, ../../app/stylesheets/partials/_button.sass */
.icon {
  width: 16px;
  height: 16px; }

/* line 24, ../../app/stylesheets/partials/_button.sass */
a.button, button.button {
  font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
  float: left;
  margin: 0 .7em 0 0;
  text-decoration: none;
  background: #EAEAEA url(/images/white-grad.png) repeat-x left top;
  border: 1px solid #dedede;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bfbfbf;
  padding: 5px 10px 6px 10px;
  display: block;
  cursor: pointer;
  font-size: 100%;
  line-height: 130%;
  color: #464646;
  -webkit-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.15) 0px 1px 3px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px; }

/* line 45, ../../app/stylesheets/partials/_button.sass */
a.button {
  float: none;
  display: inline;
  display: inline-block; }

/* line 51, ../../app/stylesheets/partials/_button.sass */
button {
  width: auto !important;
  overflow: visible !important; }
  /* line 55, ../../app/stylesheets/partials/_button.sass */
  button.button {
    float: none;
    display: inline;
    display: inline-block;
    padding: 4px 10px 3px 7px; }
    /* line 61, ../../app/stylesheets/partials/_button.sass */
    button.button[type] {
      width: auto;
      padding: 5px 10px 5px 7px;
      line-height: 17px; }

/* line 67, ../../app/stylesheets/partials/_button.sass */
*+html button.button[type] {
  padding: 4px 10px 3px 7px;
  margin-bottom: 1px; }

/* line 72, ../../app/stylesheets/partials/_button.sass */
* html button.button {
  margin-bottom: 1px; }

/* line 76, ../../app/stylesheets/partials/_button.sass */
a.button img, button.button img {
  margin: 0 3px -3px 0 !important; }

/* line 80, ../../app/stylesheets/partials/_button.sass */
a.button:hover {
  border: 1px solid #999;
  color: #000; }

/* line 86, ../../app/stylesheets/partials/_button.sass */
button.button:hover {
  border: 1px solid #999;
  color: #000; }
/* line 90, ../../app/stylesheets/partials/_button.sass */
button.active {
  border-color: #ccc;
  background: #FFF url(/images/white-grad-active.png) repeat-x left top;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

/* line 97, ../../app/stylesheets/partials/_button.sass */
a.button:active {
  border-color: #ccc;
  background: #FFF url(/images/white-grad-active.png) repeat-x left top;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

/* line 104, ../../app/stylesheets/partials/_button.sass */
button.positive {
  color: #63A142;
  font-weight: bold; }

/* line 109, ../../app/stylesheets/partials/_button.sass */
a.positive {
  color: #63A142;
  font-weight: bold; }
  /* line 113, ../../app/stylesheets/partials/_button.sass */
  a.positive:hover {
    border: 1px solid #7CB043;
    color: #63A142; }

/* line 118, ../../app/stylesheets/partials/_button.sass */
button.positive:hover {
  border: 1px solid #7CB043;
  color: #63A142; }

/* line 124, ../../app/stylesheets/partials/_button.sass */
a.positive:active {
  background: #94B717;
  border: 1px solid #94B717;
  text-shadow: #607710 1px 1px 1px;
  color: #fff; }
/* line 130, ../../app/stylesheets/partials/_button.sass */
a.negative {
  color: #d12f19; }

/* line 134, ../../app/stylesheets/partials/_button.sass */
button.negative {
  color: #d12f19; }

/* line 138, ../../app/stylesheets/partials/_button.sass */
a.negative:hover, button.negative:hover {
  border: 1px solid #E86B6D;
  color: #d12f19; }

/* line 143, ../../app/stylesheets/partials/_button.sass */
a.negative:active {
  background: #d12f19;
  border: 1px solid #d12f19;
  text-shadow: #A93816 1px 1px 1px;
  color: #fff; }

/* line 151, ../../app/stylesheets/partials/_button.sass */
.buttons a em, .buttons button em {
  font-weight: normal;
  font-style: normal; }

/* line 157, ../../app/stylesheets/partials/_button.sass */
a.button em {
  font-weight: normal;
  font-style: normal; }
/* line 161, ../../app/stylesheets/partials/_button.sass */
a.dark {
  text-decoration: none;
  color: #eee;
  background: #444;
  border: 1px solid #444;
  padding: 5px 10px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  display: inline-block; }
  /* line 171, ../../app/stylesheets/partials/_button.sass */
  a.dark img {
    margin: 0 3px -3px 0 !important; }
/* line 174, ../../app/stylesheets/partials/_button.sass */
a.darkPos, a.darkNeg {
  text-decoration: none;
  color: #eee;
  background: #444;
  border: 1px solid #444;
  padding: 5px 10px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  display: inline-block; }
/* line 184, ../../app/stylesheets/partials/_button.sass */
a.dark:hover {
  color: #fff;
  background: #555;
  border: 1px solid #fff !important; }
/* line 189, ../../app/stylesheets/partials/_button.sass */
a.darkPos {
  border: 1px solid #4c8614;
  background: #4c8614; }
  /* line 193, ../../app/stylesheets/partials/_button.sass */
  a.darkPos:hover {
    color: #fff;
    background: #5ca417;
    border: 1px solid #fff; }
/* line 198, ../../app/stylesheets/partials/_button.sass */
a.darkNeg {
  border: 1px solid #d12f19;
  background: #d12f19; }
  /* line 202, ../../app/stylesheets/partials/_button.sass */
  a.darkNeg:hover {
    background: #f13118;
    border: 1px solid #fff !important; }
/* line 206, ../../app/stylesheets/partials/_button.sass */
a.dark:active, a.darkPos:active, a.darkNeg:active {
  background-color: #FAE158 !important;
  color: #222 !important;
  border-color: #DFC94F !important; }

/* line 212, ../../app/stylesheets/partials/_button.sass */
.info .buttons {
  float: right;
  margin: 6px 0 0 0;
  padding: 0; }
  /* line 217, ../../app/stylesheets/partials/_button.sass */
  .info .buttons a, .info .buttons button {
    margin: 0 0 0 .7em; }

/* line 1, ../../app/stylesheets/partials/_taxonomy.sass */
#taxonomic_selector {
  margin: 0 0 1em 10px;
  min-height: 2em; }
  /* line 4, ../../app/stylesheets/partials/_taxonomy.sass */
  #taxonomic_selector .rank {
    display: block;
    margin-right: 10px;
    float: left; }
    /* line 8, ../../app/stylesheets/partials/_taxonomy.sass */
    #taxonomic_selector .rank label {
      margin-bottom: 10px;
      display: block; }
    /* line 11, ../../app/stylesheets/partials/_taxonomy.sass */
    #taxonomic_selector .rank input {
      display: block; }

/* line 3, ../../app/stylesheets/partials/_color.sass */
table#longevity thead th {
  background-color: #ffffff; }

/* line 6, ../../app/stylesheets/partials/_color.sass */
.gold {
  color: #CD7F32; }

/* line 8, ../../app/stylesheets/partials/_color.sass */
.silver {
  color: #777; }

/* line 10, ../../app/stylesheets/partials/_color.sass */
.bronze {
  color: #8C7853; }

/* line 12, ../../app/stylesheets/partials/_color.sass */
.karma-purple {
  color: #A0A; }

/* line 4, ../../app/stylesheets/partials/_structure.sass */
body #main {
  padding-top: 2em;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 65px; }
  /* line 5, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body #main {
    display: block; }
  /* line 8, ../../app/stylesheets/partials/_structure.sass */
  body #main #user_control {
    display: block;
    float: right;
    width: 310px; }
    /* line 12, ../../app/stylesheets/partials/_structure.sass */
    body #main #user_control #login, body #main #user_control #signup {
      display: none; }
  /* line 14, ../../app/stylesheets/partials/_structure.sass */
  body #main #header {
    margin-bottom: 1em; }
  /* line 18, ../../app/stylesheets/partials/_structure.sass */
  body #main #content table {
    margin: 0;
    width: auto !important; }
    /* line 21, ../../app/stylesheets/partials/_structure.sass */
    body #main #content table td.permalink {
      font-weight: 600;
      font-size: 1.5em; }
  /* line 24, ../../app/stylesheets/partials/_structure.sass */
  body #main #footer {
    clear: both;
    margin-top: 1em; }
    /* line 27, ../../app/stylesheets/partials/_structure.sass */
    body #main #footer a {
      vertical-align: middle; }
/* line 29, ../../app/stylesheets/partials/_structure.sass */
body #presence {
  bottom: 0;
  right: 0;
  height: 55px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 99; }
  /* line 37, ../../app/stylesheets/partials/_structure.sass */
  body #presence #karma-widget {
    margin-right: 30px;
    height: 100%;
    width: 110px;
    float: right;
    background: url(/images/karma_tiny.gif) no-repeat -5px -5px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(255,255,255,.8);
    padding: 15px 15px 15px 75px; }
    /* line 50, ../../app/stylesheets/partials/_structure.sass */
    body #presence #karma-widget #karma, body #presence #karma-widget #achievements {
      font-weight: 600; }

/* line 55, ../../app/stylesheets/partials/_structure.sass */
#spinner {
  display: none; }

/* line 58, ../../app/stylesheets/partials/_structure.sass */
#login-buttons {
  float: right; }

/* line 61, ../../app/stylesheets/partials/_structure.sass */
#login {
  display: block;
  padding: 15px;
  border: 1px solid gray;
  background-color: rgba(255,255,255,.8);
  width: 275px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 69, ../../app/stylesheets/partials/_structure.sass */
  #login .form-row {
    display: block; }
    /* line 71, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .alt {
      float: right; }
    /* line 73, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row #user_email, #login .form-row #user_password {
      width: 120px; }
    /* line 75, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row #user_openid_identifier {
      width: 237px; }
    /* line 77, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .remember-me {
      font-size: 70%;
      font-weight: 400; }
    /* line 80, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .email, #login .form-row .password, #login .form-row .remember-me {
      padding-right: 5px; }
    /* line 82, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .email, #login .form-row .password, #login .form-row .remember-me {
      float: left; }
    /* line 84, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .submit {
      float: right;
      padding-top: 8px; }
      /* line 87, ../../app/stylesheets/partials/_structure.sass */
      #login .form-row .submit a {
        margin: 0 !important; }
    /* line 89, ../../app/stylesheets/partials/_structure.sass */
    #login .form-row .regular_button, #login .form-row .openid_button {
      float: right; }
  /* line 91, ../../app/stylesheets/partials/_structure.sass */
  #login #openid {
    display: none; }

/* line 94, ../../app/stylesheets/partials/_structure.sass */
.button_row {
  margin-top: 1em; }

/* line 15, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form label {
  font-weight: bold; }
/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title, form input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input[type=checkbox], form input.checkbox,
form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form select {
  margin: 0.5em 0; }
/* line 48, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title,
form textarea,
form select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form input.text:focus, form input.title:focus,
  form textarea:focus,
  form select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title {
  width: 300px; }
/* line 43, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form textarea {
  width: 390px;
  height: 250px; }

/* line 100, ../../app/stylesheets/partials/_structure.sass */
.form_input {
  margin-bottom: 1em; }

/* new clearfix from perishablepress.com */
/* line 106, ../../app/stylesheets/partials/_structure.sass */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 115, ../../app/stylesheets/partials/_structure.sass */
#backgroundGray {
  display: none;
  position: fixed;
  _position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  border: 1px solid #cecece;
  z-index: 1;
  opacity: 0.8; }

/* line 129, ../../app/stylesheets/partials/_structure.sass */
#popup {
  display: none;
  position: fixed;
  _position: absolute;
  height: 200px;
  width: 700px;
  z-index: 2; }
  /* line 137, ../../app/stylesheets/partials/_structure.sass */
  #popup h2, #popup h3, #popup h4 {
    color: white !important; }

/* line 140, ../../app/stylesheets/partials/_structure.sass */
table#longevity {
  width: auto; }

/* line 1, ../../app/stylesheets/partials/_typography.sass */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; }
  /* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body body {
    line-height: 1.5;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 75%; }
  /* line 53, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body h1 img {
      margin: 0; }
  /* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
    margin: 0; }
  /* line 85, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body a:visited {
      color: #000066; }
    /* line 15, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body a:focus {
      color: black; }
    /* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body a:hover {
      color: black; }
    /* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body a:active {
      color: #cc0099; }
  /* line 98, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body strong {
    font-weight: bold; }
  /* line 104, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body em {
    font-style: italic; }
  /* line 106, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body sup, body sub {
    line-height: 0; }
  /* line 111, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body abbr, body acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body del {
    color: #666; }
  /* line 118, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body pre, body code, body tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body li ul, body li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body dl dt {
      font-weight: bold; }
  /* line 135, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body th {
    font-weight: bold; }
  /* line 142, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body th, body td, body caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body tfoot {
    font-style: italic; }
  /* line 150, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body caption {
    background: #eee; }
  /* line 152, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body .quiet {
    color: #666666; }
  /* line 154, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body .loud {
    color: #111111; }

/* line 5, ../../app/stylesheets/partials/_typography.sass */
h1, h2, h3, h4 {
  font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; }

/* line 10, ../../app/stylesheets/partials/_typography.sass */
h2 {
  margin-top: .25em; }

/* line 13, ../../app/stylesheets/partials/_typography.sass */
.detail {
  font-size: .8em;
  color: gray; }

/* line 1, ../../app/stylesheets/partials/_species.sass */
#species {
  margin-bottom: 1em; }

/* line 7, ../../app/stylesheets/partials/_species.sass */
.imr, .mrdt {
  float: left; }

/* line 9, ../../app/stylesheets/partials/_species.sass */
.longevity {
  clear: both; }

/* line 12, ../../app/stylesheets/partials/_species.sass */
#species_age_initial_mortality_rate {
  width: 190px;
  margin-right: 10px; }

/* line 16, ../../app/stylesheets/partials/_species.sass */
#species_age_mortality_rate_doubling_time {
  width: 100px; }
