/* line 1, ../../app/stylesheets/styles.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 11, ../../app/stylesheets/styles.sass */
body {
  line-height: 1; }

/* line 15, ../../app/stylesheets/styles.sass */
ol, ul {
  list-style: none; }

/* line 19, ../../app/stylesheets/styles.sass */
blockquote, q {
  quotes: none; }

/* line 24, ../../app/stylesheets/styles.sass */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 30, ../../app/stylesheets/styles.sass */
q:before, q:after {
  content: '';
  content: none; }

/* line 35, ../../app/stylesheets/styles.sass */
:focus {
  outline: 0; }

/* line 39, ../../app/stylesheets/styles.sass */
ins {
  text-decoration: none; }

/* line 43, ../../app/stylesheets/styles.sass */
del {
  text-decoration: line-through; }

/* line 47, ../../app/stylesheets/styles.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 52, ../../app/stylesheets/styles.sass */
body {
  padding: 20px 0;
  font: 0.8em/1.5 "arial", sans-serif;
  text-align: center;
  background: #FFF;
  color: #000; }

/* line 60, ../../app/stylesheets/styles.sass */
a {
  text-decoration: none;
  color: #000; }
  /* line 64, ../../app/stylesheets/styles.sass */
  a:hover {
    color: #A5BB0F; }

/* line 68, ../../app/stylesheets/styles.sass */
fieldset {
  border: 1px solid #DFDFDF; }

/* line 72, ../../app/stylesheets/styles.sass */
legend {
  background: #FFF;
  color: #A5BB0F; }

/* line 77, ../../app/stylesheets/styles.sass */
.low {
  color: #7F7F7F; }
  /* line 80, ../../app/stylesheets/styles.sass */
  .low a {
    color: #7F7F7F; }
    /* line 83, ../../app/stylesheets/styles.sass */
    .low a:hover {
      color: #000; }

/* line 87, ../../app/stylesheets/styles.sass */
h1, h2 {
  margin: 15px 0 10px 0; }

/* line 91, ../../app/stylesheets/styles.sass */
h3, h4, h5, h6 {
  margin: 5px 0 10px 0; }

/* line 95, ../../app/stylesheets/styles.sass */
h1 {
  font-size: 260%;
  font-weight: normal;
  letter-spacing: -1px; }

/* line 101, ../../app/stylesheets/styles.sass */
h2 {
  font-size: 160%;
  font-weight: normal; }

/* line 106, ../../app/stylesheets/styles.sass */
h3 {
  font-size: 140%;
  font-weight: normal; }

/* line 111, ../../app/stylesheets/styles.sass */
h4, h5 {
  font-size: 100%; }

/* line 115, ../../app/stylesheets/styles.sass */
p, table, ul, ol, dl, fieldset {
  margin: 10px 0; }

/* line 119, ../../app/stylesheets/styles.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%; }

/* line 125, ../../app/stylesheets/styles.sass */
th {
  text-align: left;
  font-weight: bold;
  padding: 3px 7px; }

/* line 131, ../../app/stylesheets/styles.sass */
td {
  padding: 3px 7px; }

/* line 135, ../../app/stylesheets/styles.sass */
ul, ol {
  margin-left: 30px; }

/* line 139, ../../app/stylesheets/styles.sass */
ul ul {
  margin: 0;
  margin-left: 20px; }

/* line 144, ../../app/stylesheets/styles.sass */
ol {
  list-style-type: decimal; }
  /* line 147, ../../app/stylesheets/styles.sass */
  ol ol {
    margin: 0;
    margin-left: 20px; }

/* line 152, ../../app/stylesheets/styles.sass */
li {
  display: list-item; }

/* line 156, ../../app/stylesheets/styles.sass */
dt {
  font-weight: bold; }

/* line 160, ../../app/stylesheets/styles.sass */
dd {
  margin-left: 30px; }

/* line 164, ../../app/stylesheets/styles.sass */
fieldset {
  position: relative;
  padding: 10px; }

/* line 169, ../../app/stylesheets/styles.sass */
legend {
  position: absolute;
  top: -1em;
  margin: 0;
  padding: 5px 10px;
  font-size: 100%;
  font-weight: bold; }

/* line 178, ../../app/stylesheets/styles.sass */
.box {
  min-height: 1px; }
  /* line 181, ../../app/stylesheets/styles.sass */
  .box:after {
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    font-size: 0;
    content: "."; }

/* line 190, ../../app/stylesheets/styles.sass */
.boxed {
  min-height: 55px;
  display: block;
  clear: both;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 202, ../../app/stylesheets/styles.sass */
.boxfooter {
  font-size: 85%;
  color: #888;
  width: 100%;
  margin-top: 10px;
  padding: 5px 50px 0px 0px; }

/* line 210, ../../app/stylesheets/styles.sass */
.btn {
  background: #ccc;
  padding: 1px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* line 219, ../../app/stylesheets/styles.sass */
.submitBtn {
  padding: 2px;
  font: normal 100%/1.2 "arial",sans-serif;
  border: 1px solid #A5BB0F;
  background: #A5BB0F;
  color: #FFF; }

/* line 227, ../../app/stylesheets/styles.sass */
.photos {
  margin-left: 20px; }
  /* line 230, ../../app/stylesheets/styles.sass */
  .photos div {
    width: 82px;
    margin: 0;
    padding: 4px 0 0 0px;
    float: left; }

/* line 237, ../../app/stylesheets/styles.sass */
.relative {
  position: relative; }

/* line 241, ../../app/stylesheets/styles.sass */
.clear {
  clear: both; }

/* line 245, ../../app/stylesheets/styles.sass */
.f-left {
  float: left !important; }

/* line 249, ../../app/stylesheets/styles.sass */
img.f-left {
  float: left;
  margin-right: 15px; }

/* line 254, ../../app/stylesheets/styles.sass */
.f-right {
  float: right !important; }

/* line 258, ../../app/stylesheets/styles.sass */
img.f-right {
  float: right;
  margin-left: 15px; }

/* line 263, ../../app/stylesheets/styles.sass */
.t-left {
  text-align: left !important; }

/* line 267, ../../app/stylesheets/styles.sass */
.t-center {
  text-align: center !important; }

/* line 271, ../../app/stylesheets/styles.sass */
.t-right {
  text-align: right !important; }

/* line 275, ../../app/stylesheets/styles.sass */
.t-justify {
  text-align: justify !important; }

/* line 279, ../../app/stylesheets/styles.sass */
.va-top {
  vertical-align: top; }

/* line 283, ../../app/stylesheets/styles.sass */
.va-middle {
  vertical-align: middle; }

/* line 287, ../../app/stylesheets/styles.sass */
.va-bottom {
  vertical-align: bottom; }

/* line 291, ../../app/stylesheets/styles.sass */
.nom {
  margin: 0 !important; }

/* line 295, ../../app/stylesheets/styles.sass */
.nomt {
  margin-top: 0 !important; }

/* line 299, ../../app/stylesheets/styles.sass */
.nomb {
  margin-bottom: 0 !important; }

/* line 303, ../../app/stylesheets/styles.sass */
.noscreen {
  display: none; }

/* line 307, ../../app/stylesheets/styles.sass */
.bigger {
  font-size: 110%; }

/* line 311, ../../app/stylesheets/styles.sass */
.smaller {
  font-size: 85%;
  color: #888; }

/* line 316, ../../app/stylesheets/styles.sass */
.noline {
  border-bottom: 0px; }

/* line 320, ../../app/stylesheets/styles.sass */
.gmap {
  visible: true;
  width: 600;
  height: 300; }

/* line 326, ../../app/stylesheets/styles.sass */
#main {
  width: 960px;
  margin: 0 auto;
  text-align: left; }

/* line 332, ../../app/stylesheets/styles.sass */
#topmenu {
  position: relative;
  float: right;
  bottom: 15px; }
  /* line 337, ../../app/stylesheets/styles.sass */
  #topmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 100%/1.4 "arial",sans-serif; }
    /* line 343, ../../app/stylesheets/styles.sass */
    #topmenu ul li {
      display: inline;
      margin: 0;
      float: left;
      padding: 0px 8px; }
      /* line 349, ../../app/stylesheets/styles.sass */
      #topmenu ul li a {
        display: block;
        border: 0; }
      /* line 353, ../../app/stylesheets/styles.sass */
      #topmenu ul li#nav-active a {
        border: 0;
        font-weight: bold; }

/* line 358, ../../app/stylesheets/styles.sass */
#login-submit {
  padding: 0 2px;
  font: normal 100%/1.2 "arial",sans-serif;
  border: 1px solid #A5BB0F;
  background: #A5BB0F;
  color: #FFF; }

/* line 366, ../../app/stylesheets/styles.sass */
#header {
  position: relative;
  padding-bottom: 0px; }

/* line 371, ../../app/stylesheets/styles.sass */
#logo {
  margin: 0;
  font-weight: normal;
  color: #000; }
  /* line 376, ../../app/stylesheets/styles.sass */
  #logo a {
    border-bottom: 0px; }

/* line 380, ../../app/stylesheets/styles.sass */
#beta {
  position: absolute;
  left: 350px;
  top: -10px; }

/* line 386, ../../app/stylesheets/styles.sass */
#slogan {
  margin: 0;
  color: #7F7F7F; }

/* line 391, ../../app/stylesheets/styles.sass */
#search {
  position: relative;
  top: -40px;
  right: 0;
  width: 450px;
  padding: 7px;
  float: right;
  background: #EFEFEF; }
  /* line 400, ../../app/stylesheets/styles.sass */
  #search #search-input {
    width: 390px;
    padding: 3px;
    border: 1px solid #AFAFAF; }
    /* line 405, ../../app/stylesheets/styles.sass */
    #search #search-input:focus {
      border: 1px solid #5F5F5F; }
  /* line 408, ../../app/stylesheets/styles.sass */
  #search #search-submit {
    padding: 2px;
    font: normal 100%/1.2 "arial",sans-serif;
    border: 1px solid #A5BB0F;
    background: #A5BB0F;
    color: #FFF; }

/* line 416, ../../app/stylesheets/styles.sass */
#nav {
  clear: both;
  padding: 5px 0;
  border-left: 0 !important;
  border-right: 0 !important;
  border: 1px solid #CCC; }
  /* line 423, ../../app/stylesheets/styles.sass */
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 100%/1.4 "arial",sans-serif; }
    /* line 429, ../../app/stylesheets/styles.sass */
    #nav ul li {
      display: inline;
      margin: 0;
      padding: 0; }
      /* line 434, ../../app/stylesheets/styles.sass */
      #nav ul li a {
        display: block;
        float: left;
        padding: 7px 15px;
        border: 0; }
      /* line 440, ../../app/stylesheets/styles.sass */
      #nav ul li#nav-active a {
        border: 0;
        font-weight: bold;
        background: #A5BB0F;
        color: #FFF; }

/* line 447, ../../app/stylesheets/styles.sass */
#content {
  clear: both;
  position: relative;
  top: -20px;
  padding: 10px 0 30px 0;
  overflow: hidden; }

/* line 455, ../../app/stylesheets/styles.sass */
#colLeft {
  float: left;
  width: 620px; }

/* line 460, ../../app/stylesheets/styles.sass */
#colRight {
  float: right;
  width: 310px; }

/* line 465, ../../app/stylesheets/styles.sass */
#footer {
  clear: both;
  font-size: 85%;
  border-top: 1px solid #DFDFDF;
  color: #5F5F5F; }
  /* line 471, ../../app/stylesheets/styles.sass */
  #footer a {
    color: #5F5F5F; }
    /* line 474, ../../app/stylesheets/styles.sass */
    #footer a:hover {
      color: #000; }

/* line 479, ../../app/stylesheets/styles.sass */
ul.ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 10px; }
  /* line 485, ../../app/stylesheets/styles.sass */
  ul.ul-list li {
    margin: 0;
    margin-bottom: 6px;
    padding: 0; }
/* line 490, ../../app/stylesheets/styles.sass */
ul.icon li {
  background: url("img/ico-list.gif") 0 4px no-repeat;
  padding-left: 15px; }

/* line 495, ../../app/stylesheets/styles.sass */
.hx-style01 {
  clear: both;
  background: url("img/dot.gif") 0 50% repeat-x;
  font-size: 115%; }
  /* line 500, ../../app/stylesheets/styles.sass */
  .hx-style01 span {
    margin-left: 15px;
    padding: 0 5px;
    font-weight: bold;
    text-transform: uppercase; }

/* line 507, ../../app/stylesheets/styles.sass */
a.ico-more {
  padding: 1px 3px;
  border: 0 !important; }

/* line 512, ../../app/stylesheets/styles.sass */
.colored {
  background: #FFF;
  color: #A5BB0F; }

/* line 518, ../../app/stylesheets/styles.sass */
a.ico-more {
  background: #F5F5F5;
  color: #5F5F5F; }
/* line 522, ../../app/stylesheets/styles.sass */
a:hover.ico-more {
  background: #A5BB0F;
  color: #FFF; }

/* line 527, ../../app/stylesheets/styles.sass */
#taxonomic_selector {
  margin: 0 0 1em 10px;
  min-height: 2em; }
  /* line 530, ../../app/stylesheets/styles.sass */
  #taxonomic_selector .rank {
    display: block;
    margin-right: 10px;
    float: left; }
    /* line 534, ../../app/stylesheets/styles.sass */
    #taxonomic_selector .rank label {
      margin-bottom: 10px;
      display: block; }
    /* line 537, ../../app/stylesheets/styles.sass */
    #taxonomic_selector .rank input {
      display: block; }

/* line 540, ../../app/stylesheets/styles.sass */
#create, #spinner, #options {
  display: none; }
