%h1
  Edit My Account
- form_for @user do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %button{:type => "submit", :name => "commit", :value => "Register", :class => 'button positive'} Save
  = link_to "Cancel", request.env["HTTP_REFERER"], :class => 'button'
%br