-# COMMON NAMES FILTER
.filters
  %p.in
    = t :current_filter
    %span#common-filter-val
      =t :all
  - if current_user
    =image_tag 'plus_button.gif', :id => 'common_names_image'
    .words
      &nbsp; 
      %a.filter.common{"href" => "only"}
        =t(:only) + " #{current_user.language.english_name}"
      |
      %a.filter.common{"href" => "all"}
        =t :all
