- if current_user
  .words
    &nbsp; 
    %a.filter{"href" => "common"}
      Common Names
    |
    %a.filter{"href" => "scientific"}
      Scientific Names
    |
    %a.filter{"href" => "none"}
      None
- else
  .words
    %p.no-margin
      &nbsp;Please log in before changing filters