#options
  %h2.colored
    Options
  - if current_user
    %p
      - if @language == nil
        You are currently viewing
        %strong scientific names.
      - else
        You are currently viewing
        %strong
          common names in
          =h @language.to_s + "."
    %p
      Select Language
      - options = Language.all.map!{|d|[d.english_name, d.iso_code]}
      = select_tag 'choose_language', language_options
    - if current_language
      %h4 Filters
      %ul
        %li= link_to 'View all taxa', language_path(:language => current_language.iso_code)
        %li= link_to 'View taxa with common names', language_path(:language => current_language.iso_code, :filter => "common")
        %li= link_to 'View taxa without common names', language_path(:language => current_language.iso_code, :filter => "scientific")
      
     
  - else
    %p 
      You must be logged in to see your options!