-# TAXON FILTER
.filters
  %p.in
    =t :current_filter
    %span#taxon-filter-val
      =t :none
  - if current_user
    =image_tag 'plus_button.gif', :id => 'taxon_image'
    .words
      &nbsp; 
      %a.filter.taxon{"href" => "common"}
        =t :common_names
      |
      %a.filter.taxon{"href" => "scientific"}
        =t :scientific_names
      |
      %a.filter.taxon{"href" => "none"}
        =t :none