= render :partial => "/shared/header", :locals => { :title => "Common Names for Higher Taxa", :subtitle => "Browse common names below.", :flash => flash }
= render :partial => "/taxonomy_navigation/dropdowns"

#spinner= image_tag 'loader.gif'

#species
  = render :partial => "table"
