- if current_user
  = select_tag "user[language_id]", options_for_select(Language.all.map!{|d|[d.english_name, d.id]}, [current_language, current_language.id])
- else
  = select_tag "user[language_id]", options_for_select(Language.all.map!{|d|[d.english_name, d.id]}, ["English",45])
  