- options = Language.all.map!{|d|[d.english_name, d.id]}
- default = current_user ? [current_user.language, current_user.language_id] : nil
= select_tag 'user[language_id]', options_for_select(options.unshift(['all','']), :selected => default)