- if current_user
  = select_tag "user[language_id]", options_for_select(Language.find(:all, :order => "native_name").map!{|d|[d.native_name, d.id]}, [current_language, current_language.id])
- else
  - e = Language.find_by_english_name("English")
  = select_tag "user[language_id]", options_for_select(Language.find(:all, :order => "native_name").map!{|d|[d.native_name, d.id]}, [e.english_name,e.id])
  