%table
  %tr
    %th
      language
    %th
      number of children with a common name
      (including self)
    %th
      number of children
      (including self)
    %th
      percent of children translated
  - c = @taxon.get_number_of_children
  - total = 0.0
  -@languages.each do |language|
    %tr
      %td
        =language.english_name
      %td
        -ct = @taxon.get_count_of_children_translated(Language.find(language.lang_id))
        = ct
      %td
        = c
      %td
        - total += (ct.to_f/c.to_f)
        =sprintf("%.2f%%", (ct.to_f/c.to_f)*100)
  %p
    Total percent of children translated:
    =sprintf("%.2f%%", total*100)