-count = Taxon.count

%table
  %tr
    %th
      language
    %th
      translated taxon
    %th
      percent translated
  -Language.active_languages.each do |language|
    %tr
      -c = CommonName.number_translated(language)
      %td
        =language.english_name
      %td
        =c
      %td
        - num = c.to_f/count.to_f
        = sprintf('%.2f%%', num*100)