= render :partial => "/shared/header", :locals => { :flash => flash, :title => 'Browse by language'}
= render :partial => '/shared/nav', :locals => {:nav => [['Home', root_path],['Browse by language', language_browse_path]], :active => 'Browse by language'}
= render :partial => "/shared/flash", :locals => { :flash => flash }
.box.clear
