%table
  %tr
    %th
      =t :language
    %th
      =t :common_name
    %th
      =t :user_submitted
    %th
      =t :source
    %th
      =t :delete
  - user = current_user  
  - @names.each do |name|
    %tr
      %td
        =name.lang
      %td
        =name.name
      %td
        =name.user.gsub(/@.*/, '') unless name.user.nil?
      %td
        =name.source
      %td
        - if current_user
          - if name.user == user.email || user.is_admin?
            %a{:class => "delete", :dataid => name.id, :href=>"/common_names/#{name.id}"}
              =image_tag 'delete.gif'