%ul
  - user = current_user
  - @names.each do |name|
    %li
      =name.name
      - if name.owned_by? user
        %a{:class => "delete", :dataid => name.id, :href=>"/common_names/#{name.id}"}
          =image_tag 'delete.gif'