%table
  %tr
    %th
      Language
    %th
      Common Name
    %th
      User submitted
    %th
      Source
    %th
      Delete
  - user = current_user  
  - @names.each do |name|
    %tr
      %td
        =name.lang
      %td
        =name.name
      %td
        =name.user
      %td
        =name.source
      %td
        - if current_user
          - if name.user == user.email.gsub(/@.*/,'')
            %a{:class => "delete", :dataid => name.id, :href=>"/common_names/#{name.id}"}
              =image_tag 'delete.gif'